.custom-department-tickets-table {
  .custom-table__table {
    margin-top: 0px;
  }
  thead {
    display: none;
  }
  .ant-table-cell {
    padding: 0px;
    padding-bottom: 14px;
    padding-top: 14px;
  }
}
